# SPDX-License-Identifier: GPL-2.0-only
#
# XRT Alveo FPGA device configuration
#

config FPGA_XRT_LIB
	tristate "XRT Alveo Driver Library"
	depends on HWMON && PCI
	select LIBFDT
	help
	  XRT Alveo FPGA PCIe device driver common library.
