# SPDX-License-Identifier: GPL-2.0-only
#
# Copyright (C) 2022, Advanced Micro Devices, Inc.
#
menuconfig AMD_MQDMA
	tristate "AMD Queue-based DMA"
	depends on HAS_IOMEM
	select DMA_ENGINE
	select DMA_VIRTUAL_CHANNELS
	select REGMAP_MMIO
	help
		Enable support for the AMD Queue-based DMA subsystem.The
		primary mechanism to transfer data using the QDMA is for
		the QDMA engine to operate on instructions (descriptors)
		provided by the host operating system. Using the descriptors,
		the QDMA can move data in both the Host to Card (H2C)
		direction, or the Card to Host (C2H) direction.
		The core also provides up to 8 user interrupt wires that
		generate interrupts to the host.
